<!doctype html>
<html ng-app="myAppX">

<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <base href="/Portfolio/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--library-->
    <script src="js/library/angular.min.js"></script>
    <!--APP LOAD-->
    <script src="js/app.js"></script>
    <!--SERVICES-->
    <!--CONTROLLERS-->
</head>

<body ng-controller="ctrlX">
    <div class="content" id="about">
        <div class="navtab">
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </div>
        <br style="clear: both;" />
        <div class="center">
            <h1 class="boxed_item_main bold_title">my<span class="ital_title">Portfolio</span></h1>
        </div>
        <div class="center">
            <span class="boxed_item">Hello and welcome to my first-ever Protfolio, I am <b>Yassine</b>, a  consectetur adipiscing elit. Pellentesque viverra lectus non augue faucibus egestas. Donec quis magna consectetur, tempor quam et, consectetur justo. Sed ut semper ante, nec accumsan purus. Nam vehicula nec sapien sed volutpat. Curabitur a augue aliquet, iaculis sem quis, accumsan lorem. Praesent ac lorem at ante venenatis commodo. Aenean ullamcorper vehicula velit, at dictum odio porttitor ac. In justo mauris, luctus vitae sollicitudin in, ultricies in turpis.<span>
                            <br style="clear: both;" />
            <a><img src=" images/scrolldown.png" class="scrolldown"></a>
        </div>
        <div class="col-md-10 col-md-offset-1 thumbnail" id="projects">
            <div class="center">
                <h1 class="boxed_item_main_black bold_title">my<span class="ital_title">Projects</span></h1>
        </div>
        <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/meetingtable.png">
            <span>Meeting Table: Manage the appointments available for new participants.<br/><b>source: </b><a class="link">www.github.com/Yasshl05</a></span>
        </div>
        <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/countdown.png">
            <span>Countdown page: Counts down the remqining time till the official launch of a website.<br/><b>source: </b><a class="link">www.github.com/Yasshl05</a></span>
        </div>
        <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/employee2.png">
            <span>Employees Portal: Human resources management of employees of a company. (Still during construction)<br/><b>source: </b><a class="link">www.github.com/Yasshl05</a></span>
        </div>
        <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/ecomm.png">
            <span>eComm: New e-Commerce website for selling different products (under development).<br/><b>source: </b><a class="link">www.github.com/Yasshl05</a></span>
        </div>
         <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/myCVProject.png">
            <span>myCVProject: New Single Page Application for showcasing Cover Letters (under development).<br/><b>source: </b><a class="link">www.github.com/Yasshl05</a></span>
        </div>
        <div class="col-md-6 col-xs-6 center thumbnail">
            <img src="images/mittelstandconnect.png">
            <span>Mittelstandconnect: Showcases different new innovativ ideas in a huge number of different fields.<br/><b>source: </b><a class="link">www.mittelstandconnect.de</a></span>
        </div>
    </div>
    <div class="center" id="skills">
        <h1 class="boxed_item_main bold_title">my<span class="ital_title">Skills</span></h1>
        <br style="clear: both;">
        <div class="center" ng-class="{'col-md-6': showDetails}">
            <img src="images/html.png">
            <img src="images/css.png">
            <img src="images/bootstrap.png">
            <br/>
            <!--<img src="images/javascript.png">-->
            <img src="images/angular.png">
            <img src="images/jquery.png">
            <img src="images/grunt.png">
            <br/>
            <img src="images/php.png">
            <img src="images/node.png">
            <img src="images/mysql.png"> </span>
            <br style="clear: both;" />
            <br/>
            <button class="btn btn-info" ng-if="!showDetails" ng-click="showDetail()">Show details</button>
            <button class="btn btn-info" ng-if="showDetails" ng-click="showDetail()">Hide details</button>
            <br style="clear: both;" />
            <br/>
        </div>
        <div id="details" ng-show="showDetails" ng-class="{'col-md-6': showDetails}">
            <span>
            <img src="images/html.png"> <span>4,5/5</span>   
            </span>
            <span>
            <img src="images/css.png"> <span>3,5/5</span>
            </span>
            <br/>
            <span>
            <img src="images/bootstrap.png"> <span>3,5/5</span>
            </span>
            <!--<img src="images/javascript.png">-->
            <span>
            <img src="images/angular.png"> <span>3,5/5</span>
            </span>
            <br/>
            <span>
            <img src="images/jquery.png"> <span>3,0/5</span>
            </span>
            <span>
            <img src="images/grunt.png"> <span>1,0/5</span>
            </span>
            <br/>
            <span>
            <img src="images/php.png"> <span>2,0/5</span>
            </span>
            <span>
            <img src="images/node.png"> <span>1,0/5</span>
            </span>
            <br/>
            <span>
            <img src="images/mysql.png"> <span>4,0/5</span>
            </span>
            <br style="clear: both;" />
            <br/>
        </div>
        <br style="clear: both;" />
    </div>
    <div class="col-md-10 col-md-offset-1 thumbnail" id="contact">
        <div class="center">
            <h1 class="boxed_item_main_black bold_title">my<span class="ital_title">Contact</span></h1>
        </div>
        <div class="col-md-3 col-xs-3 center">
            <a href="https://www.xing.com/profile/Yassine_Souhal" class="link"><img src="images/xing.png">
            </a>
        </div>
        <div class="col-md-3 col-xs-3 center">
            <a href="https://www.linkedin.com/in/yassine-souhal-44949876" class="link"><img src="images/linkedin.png"></a>
        </div>
        <div class="col-md-3 col-xs-3 center infos">
            <img src="images/gmail.png">
            <div class="overlay">
                <h5><span class="ital_title">Yassine.souhal@gmail.com</span></h5>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 center infos">
            <img src="images/phone.png">
            <div class="overlay center">
                <h5><span class="ital_title">(+49)0151-71032999</span></h5>
            </div>
        </div>
        <br style="clear: both;" />
    </div>
    </div>
</body>
<footer>
</footer>

</html>